{{- if .Values.service.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "blazar-reservation-splitter.fullname" . }}
  labels:
    {{- include "blazar-reservation-splitter.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "blazar-reservation-splitter.selectorLabels" . | nindent 4 }}
{{- end }}
